<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconohtml.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="75"
            [showSubtitle]="false"
            [percent]="90"  
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconocss.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="75"
            [showSubtitle]="false"
            [percent]="82"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconoJS.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="110"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconoJava.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="70"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconomySQL.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="135"
            [imageWidth]="135"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 

        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconoA+T.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="85"
            [imageWidth]="135"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 

        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconoSpring.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="135"
            [imageWidth]="130"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 

        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconoGitHub.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 

        <circle-progress class="htmllogo"
            [imageSrc]="'../assets/iconoUml+S.png'"
            [backgroundGradient]="true"
            [backgroundGradientStopColor]="'green'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="125"
            [showSubtitle]="false"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'red'"
            [animation]="true"
            [animationDuration]="2000"
            [showUnits]="false"
        ></circle-progress>
    </div>
    
</div>
