<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-med-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quo quasi dolore autem odit nemo, illum accusamus consequuntur ipsa maiores aperiam molestias temporibus illo assumenda labore minima nulla ad? Commodi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla, quasi saepe hic nemo, cum aspernatur dignissimos facilis sed commodi exercitationem incidunt dolore ab sunt illo ullam voluptate? Optio, fugiat.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores numquam hic sint provident nam odio, aliquam illum aperiam ea id tempore amet dolor ipsa eum. Vitae quis incidunt sint exercitationem?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nisi quis aut, iusto nulla est ex beatae molestiae eveniet alias deleniti eos veniam, pariatur incidunt voluptate, unde necessitatibus accusantium fugiat!
            </p>
        </div>
        <div class="col-sm12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/iconoUml+S.png" class="img-fluid img-proyecto">
         </div>
</div>
